<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="hed1"> {{title}} 
        
    </div>
        <div class="header1">

            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/service">Service</a>
            <a href="/page2">Technical1</a>
            <a href="/page3">Technical2</a>
            
        </div>
</body>
</html>