<!DOCTYPE html>
<html>
    <head>
        <title>page3</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
<body>
    <h2>{{>header}} </h2>
        <h3 >My name is  {{name}}</h2>
        <h3 >my age is :  {{age}}</h2>
        <h3> I am a {{position}}</h3>
           <h2>{{>footer}}</h2>


</body>
</html>